        body{
            margin: 0;
            font-size: 14pt;
            overflow: hidden;
            background: black;
        }

        body div{
            z-index: 500;
        }

        canvas{
            bottom: 0;
            left: 0;
            z-index: 0;
            position: fixed;
            background: transparent;
            color: white;
        }
        #fpsMeter, #tpsMeter{
            float: right;
            color: white;
        }
        #tpsMeter{
            margin-right: 8px;
        }